.body {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}
.h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}
.graphbody__container {
    display: flex;
    position: relative;
    margin: 10%;
    justify-content: center;;
    height: 100%;
}

.dropdownGraph {
    display: block;
    background: white;
    max-height: 39px;
    float: bottom;
    width: 10px;
}
#one {
    font: 1.5rem;
    color: black;
    
}