.graphbody {
    display: flex;
    position: relative;
    height: 100%;
    justify-content: flex-start;
}
.h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}
.graphbody__container {
    background: red;
    display: inline-block;
    position: relative;
    margin: 10%;
    width: 10px;
    
    
}

.dropdownGraph {
    display: inline-block;
    position: relative;
    background: white;
    max-height: 39px;
}