/*
    This file contains the styling for the body of the page.
*/

.body {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2%;
    flex-direction: column;
    overflow-y: scroll;
}

.h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

.graphbody__container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 5%;
    margin-top: 1%;
    justify-content: center;
    ;
    height: 100%;
    flex-wrap: wrap;
}

.dropdownGraph {
    display: block;
    background: white;
    max-height: 39px;
    float: bottom;
    width: 10px;
}

#one {
    font: 1.5rem;
    color: black;

}

.chart {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    margin: 1%;
    align-items: center;
}