.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    align-self: center;
    border-radius: 5px;
    position: absolute;
    display: block;
    background-color: white;
    width: 50%;

}
  
.dropdown-input {
    padding: 5px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.dtopdown-menu {
    position: absolute;
    transform: translateY(4px);
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
    max-height: 150px;
    background-color: white;
}
.dropdown-item:hover {
    background-color: #9fc3f870;
  }
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}