*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    background:var(--color-bg);
}
a {
    color: unset;
    text-decoration: none;
}
.gradient__bg{
        
        background:-moz-radial-gradient(circle at 50% 50%, rgba(36, 91, 167, 1) 0%, rgba(4, 12, 24, 1) 100%);
    
        background:-webkit-radial-gradient(circle at 50% 50%, rgba(36, 91, 167, 1) 0%, rgba(4, 12, 24, 1) 100%);
    
        background:-o-radial-gradient(circle at 50% 50%, rgba(36, 91, 167, 1) 0%, rgba(4, 12, 24, 1) 100%);
    
        background:-ms-radial-gradient(circle at 50% 50%, rgba(36, 91, 167, 1) 0%, rgba(4, 12, 24, 1) 100%);
    
        background:radial-gradient(circle at 50% 50%, rgba(36, 91, 167, 1) 0%, rgba(4, 12, 24, 1) 100%);

}
.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section_padding {
    padding: 4rem 6rem;
}
.section_margin {
    margin: 4rem 6rem;
}

.leftmostbar {
   display: block;
    position: fixed;
    height: 100%;
   
}
.main__body{

    display: block;
    position: fixed;
    padding: 5%;
}